.svn/
.DS_Store
xcuserdata/
*.xcuserdatad/
*.ipa
*.zip
*.exe
*.rar
*.tar.gz
*.7z
~$*.docx
~$*.doc
~$*.xls
~$*.xlsx
~$*.ppt
~$*.pptx
DerivedData/
build/
*.hmap
*.dSYM
*.xccheckout
*.xcscmblueprint
iOSInjectionProject/
*.ipr
*.iws
.idea
Podfile.lock
Pods/
